@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

%header-block {
  background: #837F7F;
  border-radius: 10px;
  height: 37px;

}

%header-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}

.header {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;

  &__logo {
    display: block;
    background-repeat: no-repeat;
    background-size: contain;

    width: 150px;
    height: 34.77px;
    background-image: url(../styles/images/logo.svg);
  };

  &__ordner {
    @extend %header-block;
    width: 37px;
    background-image: url(../styles/images/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
  }

  &__sorter {
    @extend %header-block;
    width: 189px;
  }

  &__select {
    @extend %header-block;
    width: 189px;
    float: left;
  }

  &__select select {
    @extend %header-font;

    background-color: transparent;
    width: 147px;
    margin: 9px 17px;
    outline: none;
    border: none;
  }

  &__select:after {
    color: black;
  }

  &__nav {
    @extend %header-block;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 134px;
  }

  &__link {
    @extend %header-font;
    text-decoration: none;
  }
}

.form {
  @extend %header-block;
  display: flex;
  align-items: center;


  &__input {
    @extend %header-font;

    width: 602px;
    height: 37px;
    margin-left: 15px;
    border: none;
    outline: none;

    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    background-color: transparent;
    // background: #837F7F;
    // border-radius: 10px;

    ::placeholder {
      @extend %header-font;
      color: #FFFFFF;
    }
  }

  &__button {
    width: 23px;
    height: 23px;
    margin-right: 12px;

    border: none;
    background-color: transparent;
    background-image: url(./images/search_icon.svg);

    cursor: pointer;
  }
}

::placeholder {
  @extend %header-font;
}

select::-ms-expand {
  display: none;
}