@font-face {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  src: url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
}

%header-font {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
}